@reboot root echo crontab ready
@reboot root echo syslog ready 2>&1 | logger
@reboot public-udd-mirror bash /usr/local/bin/update_udd.sh 2>&1 | logger
5 */4 * * * public-udd-mirror /usr/local/bin/update_udd.sh
@reboot root /usr/sbin/logrotate /etc/logrotate.conf 2>&1 | logger
@hourly root /usr/sbin/logrotate /etc/logrotate.conf 2>&1 | logger
